<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${tableInfo.daoPackageName}.${tableInfo.className}Mapper">

    <!-- 基本resultMap -->
    <resultMap type="${tableInfo.packageName}.${tableInfo.className}" id="${tableInfo.className}Map">
        #if($!tableInfo.pk)
            <id property="$!{tableInfo.pk.attrName}" column="${tableInfo.pk.columnName}"/>
        #end
        #foreach($column in $tableInfo.columnInfo)
            #if($!{column.attrName} != $!{tableInfo.pk.attrName})
            <result property="$!{column.attrName}" column="${column.columnName}"/>
            #end
        #end
    </resultMap>

    <select id="pageByQuery" resultMap="${tableInfo.className}Map">
        select * from  ${tableInfo.tableName}
        <where >
            #foreach ($column in ${tableInfo.columnInfo})
            #if($column.attrType == "String")
            <if test=" $column.attrName != '' and  $column.attrName != null">
                and   $column.columnName = #{ $column.attrName}
            </if>
            #else
            <if test="$column.attrName != null">
                and   $column.columnName = #{ $column.attrName}
            </if>
            #end
            #end
        </where>
    </select>
</mapper>